* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #12232e;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    transition: 0.5s;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #12232e;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #203647;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(20, 197, 220);  /* creates padding around scroll thumb */
}
.logo {
    text-decoration: none;
    color: rgb(20, 197, 220);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.5s;
}

.logo span {
    transition: 0.5s;
}

.logo span:hover {
    text-shadow: 0 0 30px rgb(20, 197, 220), 0 0 40px rgb(20, 197, 220),
        0 0 60px rgb(20, 197, 220), 0 0 90px rgb(20, 197, 220),
        0 0 1200px rgb(20, 197, 220);
}

.navg a {
    color: rgb(20, 197, 220);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
    padding-left: 30px;
    transition: 0.5s;
}

.navg a:hover {
    text-shadow: 0 0 20px rgb(20, 197, 220), 0 0 40px rgb(20, 197, 220),
        0 0 60px rgb(20, 197, 220), 0 0 90px rgb(20, 197, 220),
        0 0 1200px rgb(20, 197, 220);
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://wallpaperaccess.com/full/2825826.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    user-select: none;
}

.main div h2 span {
    color: #eefbfb;
    font-size: 1.4em;
    font-weight: 700;
    transition: 0.5s;
    user-select: none;
    position: relative;
}

.main div h2 span:hover {
    position: absolute;
    color: rgb(20, 197, 220);
    font-size: 2em;
    text-shadow: 0 0 20px rgb(20, 197, 220), 0 0 40px rgb(20, 197, 220),
        0 0 60px rgb(20, 197, 220), 0 0 90px rgb(20, 197, 220),
        0 0 1200px rgb(20, 197, 220);
}

.n {
    color: #eefbfb;
    font-size: 3em;
    font-weight: 700;
    margin-top: 30px;
}

.main h3 {
    color: #eefbfb;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 0.5s;
}

h3 span {
    transition: 0.5s;
}

.main h3 span:hover {
    color: rgb(20, 197, 220);
    font-size: 2em;
    text-shadow: 0 0 20px rgb(20, 197, 220), 0 0 40px rgb(20, 197, 220),
        0 0 60px rgb(20, 197, 220), 0 0 90px rgb(20, 197, 220),
        0 0 1200px rgb(20, 197, 220);
}

.main-btn {
    color: rgb(20, 197, 220);
    background-color: #12232ea9;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1075em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s;
}

.main-btn:hover {
    background-color: #12232e;
    transform: scale(1.1);
    border: solid 2px;
}

.social-icons a {
    color: #eefbfb;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.1s;
}

.social-icons a:hover {
    font-size: 2em;
    text-shadow: 0 0 20px rgb(20, 197, 220), 0 0 40px rgb(20, 197, 220),
        0 0 60px rgb(20, 197, 220), 0 0 90px rgb(20, 197, 220),
        0 0 1200px rgb(20, 197, 220);
}

section {
    background-color: #12232e;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(20, 197, 220);
    font-size: 2.2em;
    font-weight: 1000;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #203647;
    width: 15em;

    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 25px rgb(20, 197, 220);
}

.icon {
    color: #eefbfb;
    font-size: 6em;
    text-align: center;
    transition: 0.5s;
}
.icon:hover {
    transform: scale(1.2, 1.2);
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(20, 197, 220);
    font-size: 1.2em;
    font-weight: 900;
    margin: 10px;
}

.info p {
    color: #eefbfb;
}
